<div class="table-responsive">
<table class="table table-dark table-bordered border-secondary" style="min-width: 1800px;">
    <thead>
        <tr>
            <th>Time</th>
            <th>TID</th>
            <th>Caller</th>
            <th>API</th>
            <th>Arguments</th>
            <th>Duration</th>
            <th>Working Set</th>
            <th>Peak Working Set</th>
            <th>Private Usage</th>
            <th>Pagefile Usage</th>
            <th>Peak Pagefile Usage</th>
            <th>Status</th>
            <th>Return</th>
            <th>Repeated</th>
        </tr>
    </thead>
    <tbody>
    {% for call in chunk.calls %}
        <tr class="{{call.category}}" id="call_{{call.id}}">
            {% include "analysis/behavior/_api_call.html" %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
